<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>


<%= link_to 'New Tweet', new_tweet_path %>

<% @tweets.each do |tweet| %>
	<p><%= tweet.body %></p>
<% end %>